<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="deste">
            <h2><span jhiTranslate="myWordsApp.deste.detail.title">Deste</span> {{ deste.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="myWordsApp.deste.renk">Renk</span></dt>
                <dd>
                    <span>{{ deste.renk }}</span>
                </dd>
                <dt><span jhiTranslate="myWordsApp.deste.name">Name</span></dt>
                <dd>
                    <span>{{ deste.name }}</span>
                </dd>
                <dt><span jhiTranslate="myWordsApp.deste.internalUser">Internal User</span></dt>
                <dd>
                    {{ deste.internalUser?.id }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/deste', deste.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
